{% extends 'applicant/base.html' %}
{% block title %}My Applications{% endblock %}

{% block content %}
<h2>My Job Applications</h2>

{% if applications %}
<div class="list-group mt-3">
    {% for app in applications %}
    <div class="list-group-item">
        <h5>{{ app.job.title }} <small class="text-muted">({{ app.job.company_name }})</small></h5>
        <p><strong>Location:</strong> {{ app.job.location }}</p>
        <p><strong>Applied At:</strong> {{ app.applied_at|date:"M d, Y H:i" }}</p>
        <p><strong>Cover Letter:</strong><br>{{ app.cover_letter|linebreaks }}</p>

    </div>
    {% endfor %}
</div>
{% else %}
<p>You haven’t applied to any jobs yet.</p>
{% endif %}
{% endblock %}